[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
test = "pipenv run coverage run -m unittest discover -s tests -t ."
start_restapi_dev = "pipenv run python -m apps.RESTAPI"

[dev-packages]
flake8 = "*"
parameterized = "*"
coverage = "*"
codecov = "*"

[packages]
Flask = "*"
flask_injector = "*"
flask-cors = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
